.footer {
  width: 100%;
  text-align: center;
  background-image: var(--solid-bg);
  padding: var(--p-4);

  & h6 {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    text-decoration: underline;
  }

  & ul {
    margin-bottom: var(--m-1);
  }
  & li {
    font-size: clamp(0.7rem, 1.3vw, 0.8rem);
  }
}
