@import "../../styles/mixins";

.carouselContainer {
  position: relative;
  border-radius: 0;
  z-index: 0;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  height: 67vw;
  
  @media screen and (min-width: 768px) {
    --sixteenByNineUnit: calc(80vw / 16);
    --sixteenByNineheight: calc(var(--sixteenByNineUnit) * 9);
    height: var(--sixteenByNineheight);
    // height: 50vw;
    width: 80%;
  }
  
  @media screen and (min-width: 1800px) {
    $ARunit: calc(1366px / 16);
    $ElementHeight: calc($ARunit * 9);
    width: 1366px;
    height: $ElementHeight;
    max-width: 1920px;
    max-height: 1920px * 0.6;
  }
}

.carouselBottomShadow {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2)
  );
  height: 8px;
  z-index: 6;
}

.carouselImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  opacity: 0;
  transition: opacity 1s;
}

img.showImage, span.showImage {
  opacity: 1 !important;
}
