@import "../../styles/_mixins.scss";

.gallery_container {
  position: relative;
  height: 38vh;
  
}

.image_wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  & img {
    opacity: 0;
    transition: opacity 0.3s !important;
  }
}

.image_caption {
  position: absolute;
  top: 0;
  right: 200vw;
}

.carousel_info {
  padding: var(--p-5);
  text-align: center;
  font-size: clamp(1.1rem, 2vw, 1.25rem);
}