@import "../../styles/_mixins.scss";

.gallery_container {
  $heightByAR: calc(100vw / 4 * 2.6);
  position: relative;
  min-height: $heightByAR;
}

.image_wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  & > span > img {
    position: relative;
  }
  
  & img {
    opacity: 0;
    transition: opacity 0.3s !important;
    display:block;
  }

}

.image_label {
  position: relative;
  opacity: 0;
  z-index: 1;
  background-image: var(--solid-bg);
  padding: var(--p-2) var(--p-5);
  top: var(--m-3);
  border-radius: 0 var(--p-2) var(--p-7) 0;
  box-shadow: var(--sm-shadow);
}

.image_caption {
  position: absolute;
  top: 0;
  right: 200vw;
}

.carousel_info {
  padding: var(--p-5);
  text-align: center;
  font-size: clamp(1.1rem, 2vw, 1.25rem);
}