.form {
  text-align: center;
  background-image: none;

  & h5 {
    font-weight: normal;
    margin: var(--m-2) auto var(--m-3);
    max-width: 16rem;
    font-size: clamp(1.1rem, 1.9vw, 1.5rem);
    text-shadow: var(--normal-text-shadow);
    & + p {
      margin-bottom: var(--m-3);
    }

    @media screen and (min-width: 768px) {
    }
  }

  & form {
    width: calc(100% - var(--m-5));
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    input:not([type="submit"]),
    textarea {
      background-color: var(--sheet);
      font-family: inherit;
      color: var(--font-colour);
      font-size: clamp(1.2rem, 1.5vw, 1.7rem);
      padding: 1rem;
      border-radius: var(--md-border-radius);
      margin-bottom: clamp(var(--m-2), 4%, var(--m-5));
      border: none;
      box-shadow: inset 0 2px 8px var(--shadow-colour);
      letter-spacing: 0.1rem;
      transition: box-shadow 1s, color 1s;

      &:focus {
        outline: none;
        color: var(--inverse-font-colour) !important;
        box-shadow: var(--inset-sm-shadow),
          inset 0 -4px 32px -8px var(--inverse-font-colour),
          inset 0 0 200px 1000px var(--font-colour);

        &::placeholder {
          opacity: 0.5;
          color: var(--inverse-font-colour);
        }
      }

      &::placeholder {
        text-shadow: 0 2px 2px var(--shadow-colour);
        color: var(--font-colour);
        font-style: italic;
        opacity: 0.7;
        transition: opacity 0.2s;
      }
    }

    textarea {
      resize: none;
      margin-bottom: 0;
    }

    input[type="submit"] {
      width: 100%;
      background-color: var(--font-colour);
      text-shadow: 0 2px 2px var(--inverse-shadow-colour);
      font-size: clamp(1.4rem, 1.75vw, 2rem);
      margin-bottom: var(--m-6);
      margin-top: 0;
      cursor: pointer;
    }
  }
}

.customCaptureInput {
  position: absolute;
  right: 1000%;

  &:checked + label::before {
    border-bottom: 3px solid var(--font-colour);
      border-left: 3px solid var(--font-colour);
      box-shadow: -3px 2px 2px var(--shadow-colour);
  }

  &:checked + label::after {
  }
}

.captureInputDisplay {
  margin: 0 auto;
  position: relative;
  width: 80%;
  padding: var(--p-3);
  padding-right: 4rem;
  text-align: left;
  display: flex;
  
  
  &::before {
    content: "";
    border-radius: 0 0 0 0.3rem;
    position: absolute;
    top: 0%;
    width: 1.5rem;
    height: 0.8rem;
    transform: rotateZ(-50deg) translate(-1.1rem, 0.3rem);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    border-left: 0px solid rgba(0, 0, 0, 0);
    right: var(--p-3);
    z-index: 2;
    pointer-events: none;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: border 0.3s, box-shadow 0.3s;
    display: block;
  }
  
  &::after {
    display: block;
    cursor: pointer;
    border-radius: var(--sm-border-radius);
    background-color: var(--sheet);
    content: "";
    border: 2px solid var(--font-colour);
    position: absolute;
    height: 2rem;
    width: 2.5rem;
    top: 50%;
    right: var(--p-3);
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: var(--inset-sm-shadow);
  }

}