@import "../../styles/mixins";

.carousel_controls {
    background-image: var(--solid-bg);
    box-shadow: var(--sm-md-shadow);
    padding: var(--p-3) var(--p-2);
    width: 100%;
    z-index: 1;
    
    & button, & select {
        font-family: inherit;
        letter-spacing: inherit;
        
        //! Temporary font size
        font-size: 1.3rem;
        text-shadow: var(--normal-text-shadow);

        cursor: pointer;
        transition: box-shadow 0.3s !important;

        &:hover {
            box-shadow: inset 0 3rem 0 16px var(--font-colour), var(--md-shadow);
        }
    }
    
    
    & option:not(:first-of-type) {
        color: var(--blue);
        
    }
    
    & select {
        appearance: none;
        background-image: var(--inverse-solid-bg);
        border: none;
        background-repeat: no-repeat;
        border-radius: var(--md-border-radius);
        box-shadow: var(--sm-md-shadow);
        color: var(--inverse-font-colour);
        display: block;
        line-height: 1rem;
        padding: 1rem;
        text-align: center;
        position: relative;
        width: 70%;
        margin: 0 auto;
        max-width: 25rem;
    }
    
    option {
        display: block;
        padding: var(--p-5);
        // line-height: 2rem;
    }
    
}

.changeImageButton {
    
    & > div {
        height: 60%;
        width: 60%;
        margin: 0 auto;
        border-radius: inherit;
        border-top: 3px solid var(--inverse-font-colour);
        
    }
    &[data-btn-type="back"] > div {
        border-left: 3px solid var(--inverse-font-colour);
    }
    
    &[data-btn-type="next"] > div {
        border-right: 3px solid var(--inverse-font-colour);
        
    }
}

.carousel_buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 25rem;
    
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 45%;
        left: 1%;
        right: 1%;
        transform: translateY(-100%);
        max-width: unset;
    }
    
    @media screen and (min-width: 1366px) {    
        left: 3%;
        right: 3%;
    }

    @media screen and (min-width: 1800px) {   
        left: 50%;
        right: auto; 
        min-width: calc(1366px + 10rem);
        transform: translate(-50%, -50%);
    }
    
    & button {
        background-image: var(--inverse-solid-bg);
        border: none;
        border-radius: var(--sm-border-radius);
        box-shadow: var(--sm-md-shadow);
        color: var(--inverse-font-colour);
        height: 3rem;
        margin: 0;
        width: 5rem;

        &:first-of-type, &:last-of-type {
            @media screen and (min-width: 768px) {
                max-width: 4rem;
            }
            
        }

        &:first-of-type {
            border-radius: var(--md-border-radius) var(--md-border-radius) var(--md-border-radius) 4rem;
        }

        &:last-of-type {
            border-radius: var(--md-border-radius) var(--md-border-radius) 4rem var(--md-border-radius);
        }
    }
}

select.select_sm_screen {
    display: block;
    margin: 0 var(--m-2);
    
        @media screen and (min-width: 768px) {
            display: none;
        }
}

select.select_mdToLrg_screen {
    display: none;

    @media screen and (min-width: 768px) {
        display: block;
    }
}