.alertList {
  pointer-events: none;
  position: fixed;
  inset: 0;
  top: calc(var(--header-height) + var(--m-3));
  z-index: 12;
  margin: 0 auto;
  width: 90%;
  padding: 0;
  transform: translateY(-110vh);
  // transform: translateY(0vh);
  transition: transform 0.5s ease-in-out;
  
  @media screen and (min-width: 500px) {
    max-width: 90%;
  }
  
  @media screen and (min-width: 768px) {
    max-width: 80%;
    top: calc(var(--header-height) + var(--m-4));
  }
  
  @media screen and (min-width: 1800px) {
    max-width: 1366px;
    top: calc(var(--header-height) + var(--m-5));
  }
}

.alert {
  margin: 0 auto;
  text-align: center;
  border: 1px ridge #ccc;
  border-radius: var(--button-border-radius);
  background-color: var(--grey);
  font-size: clamp(1.1rem, 2vw, 1.8rem);
  color: var(--blue);
  margin-bottom: var(--m-3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s;
  width: 90%;
  max-width: 15rem;
  padding: var(--p-2) var(--p-7);
  max-height: 6rem;
  text-shadow: var(--normal-text-shadow);
}
