@import "./mixins";

.title {
  position: relative;
  background-image: var(--solid-bg);
  font-size: clamp(1.65rem, 2.7vw, 3rem);
  padding: var(--p-3) 5%;
  text-align: center;
  box-shadow: var(--sm-md-shadow);
  text-shadow: 0 2px 2px var(--shadow-colour);
  z-index: 1;
  font-weight: bold;
  & span {
    display: block;
  }

  @media screen and (min-width: 320px) {
    letter-spacing: 0.18rem;
  }

  @media screen and (min-width: 768px) {
    letter-spacing: 0.4rem;
    padding: var(--p-5) 15%;
  }
}

.sellingPoints {
  text-align: center;
  margin-bottom: var(--m-5);

  & ul {
    margin: 0 auto;
    text-shadow: var(--normal-text-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      justify-content: center;
      flex-direction: row;
      max-width: 70rem;
      padding: var(--p-3);
    }
  }

  & li {
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    max-width: 15rem;
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 20rem;
      flex: 1;
      padding: 0 1rem;
      // box-shadow: inset 0 0 0 2px red;
    }
  }
}

.quickLinks {
  position: relative;
  background-image: var(--solid-bg);
  box-shadow: var(--sm-md-shadow);
  z-index: 1;

  & h2 {
    font-size: clamp(1.4rem, 3vw, 2.2rem);
    padding: var(--p-3);
    padding-bottom: 0;
    text-align: center;
    text-shadow: var(--normal-text-shadow);
  }

  & ul {
    padding-bottom: var(--p-2);
  }

  & li {
    border-radius: var(--button-border-radius);
    box-shadow: var(--sm-md-shadow);
    width: clamp(12rem, 15vw, 20rem);
    margin: 0 auto;
    margin-bottom: var(--m-2);
    font-size: clamp(1.2rem, 3vw, 2.8rem);

    @media screen and (min-width: 768px) {
      margin: 0 auto;

      &:first-of-type {
        margin-bottom: var(--m-3);
      }
    }

    & a {
      border-radius: var(--button-border-radius);
      font-size: clamp(1.3rem, 1.75vw, 2rem);
      letter-spacing: 0.15rem;
      border: 1px ridge var(--grey);
      background-image: var(--inverse-solid-bg);
      color: var(--inverse-font-colour);
      display: block;
      width: clamp(12rem, 15vw, 20rem);
      min-height: 3rem;
      text-shadow: 0 2px 2px var(--inverse-shadow-colour);
      padding-bottom: 0.2rem;
      @include XYCenterChildren;

      @media screen and (min-width: 1200px) {
        padding: 0.7rem;
      }
    }
  }
}